*{
    padding:0px;
    margin: 0px;
}
#header{
    background-color: rgb(156, 27, 196);
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}
button{
    width: 60px;
    height: 50px;
    border-width: 6;
    border: white;
    background-color:rgb(156, 27, 196) ;
    text-align: center;
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin: 20;
    padding: 20;
    
}
